{% assign page_lang = page.lang | default: site.lang | default: 'en' %}
{% assign strings = site.data.i18n[page_lang] %}
{% if page_lang == 'zh-CN' %}
  {% assign home_url = '/zh/' %}
  {% assign experience_url = '/zh/experience/' %}
  {% assign honors_url = '/zh/honors/' %}
{% else %}
  {% assign home_url = '/' %}
  {% assign experience_url = '/experience/' %}
  {% assign honors_url = '/honors/' %}
{% endif %}
<a class="normal" href="https://blog.zhihangzhao.com" target="_blank" rel="noopener">{{ strings.navigation.blog }}</a>
<a class="normal" href="{{ home_url | append: '#contact' | relative_url }}">{{ strings.navigation.contact }}</a>
<a class="normal" href="{{ honors_url | relative_url }}">{{ strings.navigation.honors }}</a>
<a class="normal" href="{{ experience_url | relative_url }}">{{ strings.navigation.experience }}</a>
<a class="normal" href="{{ home_url | relative_url }}">{{ strings.navigation.home }}</a>
